# =========================
# 1. DATA VOLUMES & ARCHIVES
# =========================
# Gembok folder data dari Docker Yugabyte lokal biar kaga nyangkut ke Git
yb_data/
*/yb_data/
.yb_data/

# Cegah file mock data nyasar
*.csv
*.parquet
*.json
# KECUALIKAN config Debezium kita biar tetep ke-track sama Git!
!k8s_infrastructure/cdc_config/*.json

# Blokir file arsip raksasa
*.tar
*.tar.gz
*.zip

# =========================
# 2. TERRAFORM SHIELD
# =========================
# Cegah state dan token rahasia bocor ke publik
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
*.tfvars
*.tfvars.json
terraform.exe

# Local .terraform directories
**/.terraform/*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# =========================
# 3. PYTHON & ENVIRONMENTS
# =========================
__pycache__/
*.py[cod]
*$py.class
.env
.venv/
venv/
env/

# =========================
# 4. OS & IDE JUNK
# =========================
.vscode/
.DS_Store
Thumbs.db